.header  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  background: papayawhip;
}

.logo {
  margin: 8px;
  padding: 16px;
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  margin: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

ul .left-links {
  display: flex;
  justify-self: left;
}